name: Run Pytest

on:
  push:
    branches: [master, dev]
  pull_request:

jobs:
  lint:
    name: Run Ruff and Mypy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set Up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: latest
          virtualenvs-create: true
          virtualenvs-in-project: true
      
      - name: Cache Poetry dependencies
        uses: actions/cache@v3
        with:
          path: .venv
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-poetry-
      
      - name: Install dependencies
        run: poetry install --with dev
      
      - name: Run Ruff
        run: poetry run ruff check .
      
      - name: Run Mypy
        run: poetry run mypy . --install-types --non-interactive

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: latest
          virtualenvs-create: true
          virtualenvs-in-project: true
      
      - name: Cache Poetry dependencies
        uses: actions/cache@v3
        with:
          path: .venv
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-poetry-
      
      - name: Install dependencies
        run: poetry install --with dev
      
      - name: Prepare basic template files
        run: |
          mkdir -p ~/.gitk_config/templates
          cat > ~/.gitk_config/templates/default_template.tpl <<EOF
          Hello, this is the default template.
          Input:
          {{ input }}
          Output:
          {{ output }}
          EOF
          cat > ~/.gitk_config/templates/template.tpl <<EOF
          Hello, this is a basic template.
          Input:
          {{ input }}
          Output:
          {{ output }}
          EOF
          cat > ~/.gitk_config/templates/valid_name.tpl <<EOF
          Valid name template content.
          Input:
          {{ input }}
          Output:
          {{ output }}
          EOF
      
      - name: Run tests
        run: poetry run pytest -v